{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GPT Hero</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static "main/gpt.css" %}" type="text/css" >
  <style>
    body {
      background-color: black;
    }
    .copyButton {
      background-color: #4CAF50;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }
    .copyButton:hover {
      background-color: #45a049;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: white;
    }

    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link:focus {
      color: white;
    }

    .dropdown-menu {
      background-color: black;
    }

    .dropdown-item {
      color: white;
    }
   ::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: white;
      background-color: #212529;
    }
    .navbar-light .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='grey' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M1 2h14M1 8h14M1 14h14'/%3E%3C/svg%3E");
    }
    .main
    {
        margin-left:75px;
    }

    .custom-bg-color{
      background-color: #1f2937;
  }
  .alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
  }
  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
  }

  .switch input {
      opacity: 0;
      width: 0;
      height: 0;
  }
  .text-style1 {
      display: flex;
      justify-content: center;
      font-size: 40px;
      color: white;
      padding-top: 40px;
  }

  .text-style2 {
      font-size: 25px;
      color: gray;
  }
  .pricing-card{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: black;
  }
  .card {    
      width: 20%;      
      margin-left: 2%;
      margin-right: 2%;
      background-image: linear-gradient(-225deg, 
              #231557 0%,
              #ee2200 29%,
              #ff1361 67%,
              white 100%);
      border-radius: 20px;
      transition: all .3s;
  }

  .card2 {
      width: 100%;
      background-color: #1a1a1a;
      border-radius: 20px;
      transition: all .2s;
  }

  .card2:hover {
      transform: scale(0.99);
      border-radius: 20px;
  }

  .card:hover {
      box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }
  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
  }

  .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: rgb(252, 150, 243);
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
  }

  input:checked + .slider {
      background: red;
  }

  input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
  }
  .buy-button {
      width: 90%;
      height: 40px;
      color: white;
      background-image: linear-gradient(to right, #fcda44 0%, #f83434 100%);
      border: none;
      border-radius: 10px;
      margin-top: 60px;
      cursor: pointer;
      outline: none;
      font-weight: bold;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .buy-button:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  .contact-us-button{
    width: 90%;
      height: 40px;
      color: white;
      background-image: linear-gradient(to right, #938cf8 0%, #1417e9 100%);
      border: none;
      border-radius: 10px;
      margin-top: 60px;
      cursor: pointer;
      outline: none;
      font-weight: bold;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .contact-us-button:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  </style>
</head>
<body>


  <!-- Navbar 1 (Top navbar) -->
  <nav class="navbar navbar-dark bg-black d-none d-md-flex">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static "main/pic.png" %}" height="50" width="200" class="d-inline-block align-top" alt="">
      </a>
      <a style="color: white; font-size: 20px; margin-right: 20px">{{request.user}}</a>
      <!-- <div id="drop">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: 20px; margin-right: 20px">
          {{request.user}}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'logout_redirect' %}">Logout</a></li>
        </ul>
      </div> -->
    </div>
  </nav>



  <!-- Navbar 3 (Top navbar) -->
  <nav class="navbar navbar-light  d-flex d-md-none" style="background-color: black;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon" ></span>
      </button>
      <a class="navbar-brand mx-auto" href="#">
        <img src="{% static "main/pic.png" %}" height="50" width="200" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse" >
      <ul class="navbar-nav ml-auto" style="padding: 0px 20px">
        <!-- Links to all the pages -->
        <!-- <li class="nav-item">
          <a href="#" class="nav-link active"
            style="background-image:linear-gradient( #EC1A3F,#EE376E); height:40px;width:170px" aria-current="page"
            width="40px">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home"></use>
            </svg>
            Dashboard
          </a>
        </li> -->
        <li class="nav-item" style="margin-top: 20px; font-family: 'Lato', sans-serif; font-size:20px">
          <a href="#" class="nav-link text-white">Plans</a>
        </li>
        <li class="nav-item" style="margin-top: 20px; font-family: 'Lato', sans-serif; font-size:20px">
          <a href="#" class="nav-link text-white">History</a>
        </li>
        <li class="nav-item" style="margin-top: 20px; font-family: 'Lato', sans-serif; font-size:20px">
          <a href="#" class="nav-link text-white">Settings</a>
        </li>
          <li class="nav-item" style="margin-top: 20px; font-family: 'Lato', sans-serif; font-size:20px">
            <div id="drop">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: 20px; margin-right: 20px">
          {{request.user}}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'logout_redirect' %}">Logout</a></li>
        </ul>
      </div>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="navbar-text">{{request.user}}</span>
        </li>
      </ul>
    </div>
  </nav>
  {% if messages %}
    {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show   " style="margin : 0 100px " role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
    {% endfor %}
  {% endif %}
<div class="middle" >
  <!-- Navbar 2 (Sidebar) -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-black d-none d-md-block" style="width:1000;height:100vh">
    <div class="main" style="background-color: black;">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidenav" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto" style="margin-left: 30px; margin-top: 50px;">
          <li style="margin-top: 20px; font-family: 'Lato', sans-serif; font-size:20px">
            <a href="{% url "home" %}" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Dashboard
            </a>
          </li>
          <li style="margin-top: 20px; font-family: 'Lato', sans-serif; font-size:20px">
            <a href="{% url "plans" %}" class="nav-link text-white active" style="background-image:linear-gradient( #EC1A3F,#EE376E); height:40px;width:170px" aria-current="page"
            width="40px">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Plans
            </a>
          </li>
          <li style="margin-top: 20px; font-family: 'Lato', sans-serif; font-size:20px">
            <a href="{% url "history" %}" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table"></use>
              </svg>
              History
            </a>
          </li>
          <li style="margin-top: 20px; font-family: 'Lato', sans-serif; font-size:20px">
            <a href="{% url "profile" %}" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#grid"></use>
              </svg>
              Settings
            </a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <!-- mainbody -->
    <div class="main-body w-100">
      <div class="container-xl px-4 py-5 text-white">
          <!-- <h1 class="text-center display-5 font-weight-bold mb-5">
              Unlock <span class="text-gradient">Unlimited</span> <span class="text-danger">GPT</span><span class="text-white">Hero</span>
          </h1>
          <div class="d-flex justify-content-center ">
              <div class="d-flex mb-4 gap-2">
                <span class="text-xl mb-2">Monthly</span>
              <div class="form-check form-switch mb-2">
                  <input class="form-check-input" type="checkbox" id="billing-toggle">
                  <label class="form-check-label" for="billing-toggle"></label>
              </div>
              <span class="text-xl mb-2">Yearly</span>
              </div>
          </div>
        </div> -->
        <div class="w-[100%] flex flex-col justify-center items-center text-center mt-20">
          <div class="flex flex-row" id="pricing"> 
              <span class="gradient-text-unlimited" style="font-family:sans-serif; font-weight: 700; color: white; font-size: 60px;">Unlock</span>&nbsp;&nbsp;&nbsp;
              <span class="gradient-text-unlimited" style="font-family:sans-serif; font-weight: 700; font-size: 60px;">Unlimited</span>&nbsp;&nbsp;&nbsp;
              <span class="gradient-text-unlimited" style="font-family:sans-serif; font-weight: 700; color: red; font-size: 60px;">GPT</span> 
              <span class="gradient-text-unlimited" style="font-family:sans-serif; font-weight: 700; color: white; font-size: 60px;">Hero</span>
          </div>
          <div class="flex flex-row items-center mt-10" style="display: flex; align-items: center;justify-content: center;">
              <label class="text-white" style="font-size: 30px; font-family:sans-serif;">Monthly</label>&nbsp; 
              <label class="switch">
                  <input type="checkbox" id="Checkbox" onchange="updatelabel()">
                  <span class="slider"></span>
              </label>
              
              <label class="text-white" style="font-size: 30px; font-family:sans-serif;">Yearly</label>
          </div>
          <div class="w-[100%] flex flex-row justify-center" style="margin-top:40px">
            <div class="pricing-card">
                <div class="card">
                    <div class="card2 flex flex-col items-center" style="padding-bottom: 10px; font-family:sans-serif;">
                        <label style="color: white; font-size: 24px; margin-top: 20px; font-family:sans-serif;">Basic</label>
                        <div class="flex flex-row text-style1" style="font-family:sans-serif;">
                            <p>$</p><label id="price_basic">5</label><label id="sel_time1">/Month</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 50px;">Bypasses GPTZero, TurnItIn</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Context up to 2021</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Custom Rephrasing Settings</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">100MB File Uploads + OCR</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Rephrase long texts</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">100,000 words with</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">standard rephraser</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">API Access</label>
                        </div>                        
                        <button class="buy-button" id="buy-basic" onclick="buyBasic()">Buy Now</button>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card2 flex flex-col items-center" style="padding-bottom: 10px; font-family:sans-serif;">
                        <label style="color: white; font-size: 24px; margin-top: 20px; font-family:sans-serif;">Standard</label>
                        <div class="flex flex-row text-style1">
                            <p>$</p><label id="price_standard">15</label><label id="sel_time2">/Month</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 50px;">Bypasses GPTZero, TurnItIn</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Context up to 2021</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Custom Rephrasing Settings</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">100MB File Uploads + OCR</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Rephrase long texts</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">100,000 words with</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">standard rephraser</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">API Access</label>
                        </div>
                        <button class="buy-button" id="buy-standard" onclick="buyStandard()">Buy Now</button>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card2 flex flex-col items-center" style="padding-bottom: 10px; font-family:sans-serif;">
                        <label style="color: white; font-size: 24px; margin-top: 20px; font-family:sans-serif;">Pro</label>
                        <div class="flex flex-row text-style1">
                            <p>$</p><label id="price_pro">30</label><label id="sel_time3">/Month</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 50px;">Bypasses GPTZero, TurnItIn</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Context up to 2021</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Custom Rephrasing Settings</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">100MB File Uploads + OCR</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Rephrase long texts</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">100,000 words with</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">standard rephraser</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">API Access</label>
                        </div>
                        <button class="buy-button" id="buy-pro" onclick="buyPro()">Buy Now</button>
                    </div>
                </div>  
        
                <div class="card">
                    <div class="card2 flex flex-col items-center h-[100%]" style="padding-bottom: 10px; font-family:sans-serif;">
                        <label style="color: white; font-size: 24px; margin-top: 20px; font-family:sans-serif;">Enterprise</label>
                        <!-- <div class="flex flex-row text-style1">
                          <p>$</p><label id="price_pro">30</label><label id="sel_time3">/Month</label>
                        </div> -->
                        <div class="flex flex-row text-style1">
                            <p>
                              <label>Contact Us</label>
                            </p>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 50px;">Bypasses GPTZero, TurnItIn</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Context up to 2021</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Custom Rephrasing Settings</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">100MB File Uploads + OCR</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">Rephrase long texts</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">100,000 words with</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">standard rephraser</label>
                        </div>
                        <div class="flex flex-row">
                            <label style="color: white; font-size: 20px; margin-top: 10px;">API Access</label>
                        </div>
                        <button class="contact-us-button" onclick="contactUs()">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>                
      </div>
  </div>
  
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>      
    let basic_btn = document.getElementById('buy-basic');
    let buy_style = basic_btn.style;
    let buy_text = basic_btn.textContent;
    function enable_disable_buy_btns(){
      var currentPlan = "{{current_plan}}";
      let basic_btn = document.getElementById('buy-basic');
      let standard_btn = document.getElementById('buy-standard');
      let pro_btn = document.getElementById('buy-pro');
      basic_btn.style = buy_style;
      standard_btn.style = buy_style;
      pro_btn.style = buy_style;
      basic_btn.textContent = buy_text;
      standard_btn.textContent = buy_text;
      pro_btn.textContent = buy_text;
      // console.log(buy_style);
      let paied_plan = null;

      console.log(currentPlan);
      let checkbox = document.getElementById('Checkbox');
      if(!checkbox.checked){
        if(currentPlan.endsWith('month')){
          if(currentPlan.startsWith("basic")){
            paied_plan = basic_btn;
          } else if(currentPlan.startsWith('standard')){
            paied_plan = standard_btn;
          } else {
            paied_plan = pro_btn;
          }
        }
      } else {
        if(currentPlan.endsWith('year')){
          if(currentPlan.startsWith("basic")){
            paied_plan = basic_btn;
          } else if(currentPlan.startsWith('standard')){
            paied_plan = standard_btn;
          } else {
            paied_plan = pro_btn;
          }
        }
      }

      paied_plan.disabled = true;
      paied_plan.style.backgroundColor = "#222222";
      paied_plan.style.color = "#8888ee";
      paied_plan.style.backgroundImage = "none";
      paied_plan.textContent = "Current Plan";
    }

    enable_disable_buy_btns();

    function updatelabel() {      
      let checkbox = document.getElementById('Checkbox');
      let price_basic = document.getElementById('price_basic');
      let price_standard = document.getElementById('price_standard');
      let price_pro = document.getElementById('price_pro');
      let sel_time1 = document.getElementById('sel_time1');
      let sel_time2 = document.getElementById('sel_time2');
      let sel_time3 = document.getElementById('sel_time3');
      price_basic_num = parseInt(price_basic.textContent, 10);
      price_standard_num = parseInt(price_standard.textContent, 10);        
      price_pro_num = parseInt(price_pro.textContent, 10);
      
      if (checkbox.checked) {
          price_basic.innerText = price_basic_num * 10;
          price_standard.innerText = price_standard_num * 10;
          price_pro.innerText = price_pro_num * 10;
          sel_time1.textContent = '/Year';
          sel_time2.textContent = '/Year';
          sel_time3.textContent = '/Year';
      } else {
          price_basic.innerText = price_basic_num / 10;
          price_standard.innerText = price_standard_num / 10;
          price_pro.innerText = price_pro_num / 10;
          sel_time1.textContent = '/Month';
          sel_time2.textContent = '/Month';
          sel_time3.textContent = '/Month';
      }
      enable_disable_buy_btns();
    }

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    // Create and append the custom confirm dialog elements to the body
    function createConfirmDialog(message, onConfirm) {
      // Create the dialog container with a modern look
      const dialogOverlay = document.createElement('div');
      dialogOverlay.id = 'confirmDialog';
      dialogOverlay.style.position = 'fixed';
      dialogOverlay.style.left = '0';
      dialogOverlay.style.top = '0';
      dialogOverlay.style.width = '100%';
      dialogOverlay.style.height = '100%';
      dialogOverlay.style.backgroundColor = 'rgba(100, 100, 100, 0.5)';      
      dialogOverlay.style.display = 'flex';
      dialogOverlay.style.justifyContent = 'center';
      dialogOverlay.style.alignItems = 'center';
      dialogOverlay.style.zIndex = '1000';      
      // Apply blur effect using backdrop-filter
      dialogOverlay.style.backdropFilter = 'blur(10px)'; // Standard syntax
      dialogOverlay.style.webkitBackdropFilter = 'blur(10px)'; // For Safari and older browsers

      // Modern styled dialog content area
      const dialogContent = document.createElement('div');
      dialogContent.className = 'dialog-content';
      dialogContent.style.background = '#111';
      dialogContent.style.padding = '40px';
      dialogContent.style.borderRadius = '12px';
      dialogContent.style.boxShadow = '0 4px 8px rgba(250, 250, 250, 0.1)';
      dialogContent.style.textAlign = 'center';
      dialogContent.style.maxWidth = '400px';
      dialogContent.style.boxSizing = 'border-box';

      // Message with modern text styling
      const dialogMessage = document.createElement('p');
      dialogMessage.textContent = message;
      dialogMessage.style.fontSize = '18px';
      dialogMessage.style.color = '#fff';
      dialogMessage.style.marginBottom = '30px';
      dialogContent.appendChild(dialogMessage);

      // Create the confirm button
      const confirmBtn = document.createElement('button');
      confirmBtn.id = 'confirmBtn';
      confirmBtn.textContent = 'Current Plan';
      confirmBtn.style.padding = '10px 15px';
      confirmBtn.style.marginRight = '10px';
      confirmBtn.style.border = 'none';
      confirmBtn.style.borderRadius = '10px';
      confirmBtn.style.color = 'white';
      confirmBtn.style.backgroundImage = 'linear-gradient(to right, #4444ff 0%, #4444ff 100%)'; // Gradient color effect
      confirmBtn.style.cursor = 'pointer';
      confirmBtn.style.marginRight = '18px';
      confirmBtn.onclick = function() {
        // Run the onConfirm callback if provided
        if (typeof onConfirm === 'function') {
          onConfirm();
        }
        // Hide and remove the dialog after confirmation
        document.body.removeChild(dialogOverlay);
      };

      // Create the cancel button
      const cancelBtn = document.createElement('button');
      cancelBtn.id = 'cancelBtn';
      cancelBtn.textContent = 'Not Buy Now';
      cancelBtn.style.padding = '10px 15px';
      cancelBtn.style.border = 'none';
      cancelBtn.style.borderRadius = '10px';
      cancelBtn.style.background = '#ecf0f1'; // Light grey background
      cancelBtn.style.color = '#222';
      cancelBtn.style.cursor = 'pointer';
      cancelBtn.style.marginLeft = '18px';
      cancelBtn.onclick = function() {
        // Hide and remove the dialog
        document.body.removeChild(dialogOverlay);
      };

      // Append buttons to dialog content
      dialogContent.appendChild(confirmBtn);
      dialogContent.appendChild(cancelBtn);

      // Append dialog content to the dialog container
      dialogOverlay.appendChild(dialogContent);

      // Append the dialog to the body
      document.body.appendChild(dialogOverlay);
    }

    // Call this function when you want to show confirmation
    function showCustomConfirm(message, onConfirm) {
      createConfirmDialog(message, onConfirm);
    }

    function buyPlan(planId) {
      var form = document.createElement('form');
      form.method = 'POST';
      form.action = '/plans/' + planId + '/';
      
      // CSRF token is required for POST requests in Django
      var csrfTokenInput = document.createElement('input');
      csrfTokenInput.type = 'hidden';
      csrfTokenInput.name = 'csrfmiddlewaretoken';
      csrfTokenInput.value = getCookie('csrftoken'); // Assuming CSRF token is stored as a cookie
      form.appendChild(csrfTokenInput);
      
      document.body.appendChild(form);
      form.submit();
    }

    function confirmAndBuyPlan(planId) {
      // showCustomConfirm('Are you sure you want to buy this plan?', function() {
      buyPlan(planId);
      // });
    }

    function buyBasic(){
      let buy_basic = document.getElementById("buy-basic");
      let price_basic = document.getElementById('price_basic');
      price_basic_num = parseInt(price_basic.textContent, 10);      
      if(price_basic_num === 5){
        confirmAndBuyPlan("basic-month");
      } else{
        confirmAndBuyPlan("basic-year");
      }
    }

    function buyStandard(){
      let buy_standard = document.getElementById("buy-standard");
      let price_standard = document.getElementById('price_standard');
      price_standard_num = parseInt(price_standard.textContent, 10);
      console.log(price_standard_num)
      if(price_standard_num === 15){
        confirmAndBuyPlan("standard-month");
      } else{
        confirmAndBuyPlan("standard-year");
      }
    }

    function buyPro(){
      let buy_pro = document.getElementById("buy-pro");
      let price_pro = document.getElementById("price_pro");
      price_pro_num = parseInt(price_pro.textContent, 10)
      console.log(price_pro_num);
      if(price_pro_num === 30){
        confirmAndBuyPlan("pro-month");
      } else {
        confirmAndBuyPlan("pro-year");
      }
    }

    function contactUs(){
      console.log("redirecting to Contact Support");
    }
  </script>  
</body>
</html>
